@import '../../variables';

// Navbar settings
.navbar-item img {
  max-height: none !important;
}

.navbar-brand {
  align-content: center;
}

.navbar {
  .container {
    justify-content: space-between;
  }

  &.row {
    @media screen and (max-width: $tablet) {
      background-color: white;
      border-bottom: 1px solid $lra-gray-light;
    }
    @media screen and (min-width: $tablet) {
      background-color: whitesmoke;
    }

    min-height: 0;

    .navbar-brand {
      align-items: center;
    }

    .column {
      padding: 0.5em;
    }

    .container {
      min-height: 0;
    }
  }
}

.social-links {
  margin: auto !important;

  .social-icon {
    display: flex;
    align-items: center;

    .icon {
      margin: 0 auto;
    }
  }
}

.navbar-menu {
  background-color: unset !important;
  box-shadow: unset !important;
}
