// Navbar settings 
.navbar-item img {
  max-height: none !important
}

.navbar.row {
  background-color: whitesmoke;
  min-height: 0;

  .column {
    padding: 0.5em;
  }

  .container {
    min-height: 0;
  }
}

.social-links {
  margin: auto !important;

  .social-icon {
    display: flex;
    align-items: center;

    .icon {
      margin: 0 auto;
    }
  }
}

.navbar-menu {
  background-color: unset !important;
  box-shadow: unset !important;
}