@import '../variables';

.footer {
  margin-top: 3em;
  padding: 0 !important;
  border-top: 1px solid $lra-gray-light;

  .container {
    padding-top: 1em;
  }

  .content {
    padding: 0em 1.5em 3em !important;
  }

  .footer-item {
    color: $text;
    padding: 0.25em;
    &:hover {
      color: $dark;
    }
  }
}
