@import '../../variables';

.poll {
    background-color: $lra-blue;

    .poll-title {
        padding: 0.25em 0.75em 0em;
    }

    .poll-options {
        padding: 0.5em 0.75em;
        .poll-option {
            margin: 0;
            padding: 0.25em 0em 0em;
        }    
    }

    .poll-actions {
        padding: 0.25em 0.75em;
        button {
            border-radius: 0;
        }
    }

    .poll-results {
        padding: 0.25em 0.75em;

        progress {
            border-radius: 0;
        }
    }

    .poll-total-result {
        margin: 0.75em 0em;
        background-color: $lra-blue-dark;
    }
}