@import "~bulma/sass/utilities/initial-variables"
@import url("https://fonts.googleapis.com/css?family=PT+Sans")

// LRA colors
$lra-red: #8D002D
$lra-red-light: #c24154
$lra-red-dark: #580001

$lra-gray: #565555
$lra-gray-light: #838181
$lra-gray-dark: #2d2c2c

$lra-blue: #61859e
$lra-blue-light: #92b8c7
$lra-blue-dark: #233e54

// Config variables
$primary: $lra-red
$primary-invert: $lra-blue

$body-family: "PT Sans"

$link: $primary !default
$text: $lra-gray
$dark: $lra-gray-dark

$body-background-color: $white-bis

$button-color: #FFFFFF
$button-background-color: $lra-red
$button-hover-color: $lra-gray

$gap: 64px

// Navbar styles
$navbar-divider-padding: 0.5rem 2.5rem 0.5rem 1.5rem !default

.navbar-item img
  max-height: none !important

.navbar.row
  background-color: whitesmoke
  min-height: 0
  margin-bottom: 1em
  .column
    padding: 0.5em
  .container
    min-height: 0

.social-links
  margin: auto 1em 0.5em !important
  .social-icon
    display: flex
    align-items: center

// Footer
$footer-background-color: whitesmoke
$footer-padding: 0

.footer
  margin-top: 3em
  .content
    padding: 0em 1.5em 3em !important
  .footer-item
    color: $text
    padding: 0.25em
    &:hover
      color: $dark

// Card variables
$card-background-color: $white-bis
$card-shadow: none
$card-header-padding: 0.5em 0 0.25em 0
$card-content-padding: 0

// General
.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.is-full-height
  height: 100% !important

.is-full-width
  width: 100% !important

.hero
  background: url('../img/hero-background.jpg') !important
  background-size: cover !important

.hero-body 
  padding: 2rem 1.5rem !important

@import "~bulma"
