@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '../../variables';

$border-color: transparent;
$border-style: 1px solid $border-color;
$event-background: rgba(97, 133, 158, 0.2);

.fc {
    background-color: white;
    td, th {
        border-color: $border-color;
    }

    // Toolbar
    .fc-toolbar.fc-header-toolbar {
        margin: 0;
    
        border: $border-style;
    
        .fc-button {
            background-color: unset;
            color: $lra-gray;
            border: none;
            border-radius: unset;
            height: 100%;
        }
    
        h2 {
            font-size: 1em;
            font-weight: 700;
        }
    }

    // Header
    .fc-widget-header {
        font-weight: 700;
        text-align: center;
        color: $lra-gray;
    }

    // Body
    .fc-body {
        .fc-row {
            min-height: unset;
            .fc-day-number {
                float: unset;
                display: block; 
                text-align: center;
                padding: 0; 
                margin: 0 auto;
            }

            .fc-content-skeleton {
                padding: 0;
            }
            .fc-bg {
                padding: 0;
                .fc-today {
                    background-color: $event-background;
                }
            }
        }
    }

    // Event
    .has-event {
        font-weight: 700;
        color: $lra-red;
    }

}

